VONAGE_API_KEY=VONAGE_API_KEY
VONAGE_API_SECRET=VONAGE_API_SECRET
VONAGE_APPLICATION_ID=VONAGE_APPLICATION_ID
VONAGE_PRIVATE_KEY_PATH=VONAGE_PRIVATE_KEY_PATH
VONAGE_NUMBER=YOUR_VONAGE_NUMBER
VONAGE_BRAND_NAME=VONAGE_BRAND_NAME
TO_NUMBER=NUMBER_TO_CALL
RECIPIENT_NUMBER=YOUR_RECIPIENTS_NUMBER
YOUR_SECOND_NUMBER=YOUR_SECOND_NUMBER

# Set to true to look up CNAM data when using Insights:
CNAM=TRUE_OR_FALSE
EVENT_URL=https://requestb.in/UUID_OR_https://UUID.ngrok.io

# Number Insight building blocks
INSIGHT_NUMBER=NUMBER_TO_PROVIDE_INSIGHT_FOR

# Additional variables
NUMBER_SEARCH_PATTERN=NUMBER_SEARCH_PATTERN
NUMBER_SEARCH_CRITERIA=NUMBER_SEARCH_CRITERIA
COUNTRY_CODE=COUNTRY_CODE
VONAGE_NUMBER_FEATURES=VONAGE_NUMBER_FEATURES
SMS_CALLBACK_URL=SMS_CALLBACK_URL
VOICE_CALLBACK_TYPE=VOICE_CALLBACK_TYPE
VOICE_CALLBACK_VALUE=VOICE_CALLBACK_VALUE
VOICE_STATUS_URL=VOICE_STATUS_URL
INSIGHT_NUMBER=INSIGHT_NUMBER
ASYNC_CALLBACK_URL=ASYNC_CALLBACK_URL
NEW_SECRET=NEW_SECRET
VONAGE_SECRET_ID=VONAGE_SECRET_ID
VONAGE_REDACT_ID=VONAGE_REDACT_ID
REQUEST_ID=REQUEST_ID
CODE=CODE
PAYEE_NAME=PAYEE_NAME
AMOUNT=AMOUNT
